*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    /*全局颜色*/
    --body-color: #ebebeb;
    --sidebar-color: #fff;
    --primary-color: #3d3d3d;
    --primary-color-light: #f1f1f1;
    --toggle-color: #ddd;
    --text-color: #707070;
    --player-color: #dadada;

    /*过渡效果*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;

    /*组件固定宽高*/
    --sidebar-width: 250px;
    --sidebar-close-width: 88px;
    --pannel-width: 300px;
    --player-height: 90px;
}


body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-03);
}

/*取消滑轮*/
body::-webkit-scrollbar {
  display: none;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --player-color: #242526;
}


/*全局字体样式*/
body{
    color: var(--primary-color);
    transition: var(--tran-03);
}
body.dark{
    color: var(--text-color);
    transition: var(--tran-03);
}