@font-face {
  font-family: "iconfont"; /* Project id 3543610 */
  src: url('iconfont.woff2?t=1658670528979') format('woff2'),
       url('iconfont.woff?t=1658670528979') format('woff'),
       url('iconfont.ttf?t=1658670528979') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lil-netease:before {
  content: "\e97e";
}

.icon-lil-setting-active:before {
  content: "\e751";
}

.icon-lil-login-active-copy:before {
  content: "\e752";
}

.icon-lil-logout:before {
  content: "\e753";
}

.icon-lil-logout-active-copy:before {
  content: "\e754";
}

.icon-lil-home:before {
  content: "\e6bb";
}

.icon-lil-setting:before {
  content: "\e68b";
}

.icon-lil-login:before {
  content: "\e74f";
}

.icon-homefill-active:before {
  content: "\e750";
}

